@model List<Deck>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Console.WriteLine();
}



<div class="container" style="background-color:#D4E6F1">
    <div class="text-center">
        <h1>Top 10 Logged Decks</h1>
        @foreach (Deck deck in Model)
        {
            <div class="card m-3 p-2">
                <div class="container-fluid d-inline-flex">
                    <div class="col-6">
                        @Html.Raw(deck.ToString())
                    </div>
                    <div class="col-6">
                        <p>Deck Id:@deck.DeckId</p>
                        <p>Win:@deck.Wins</p>
                        <p>Loss:@deck.Loss</p>
                        <p>Win loss ratio:@deck.WinLossRate</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>