@model Player
@{
    ViewData["Title"] = "Home Page";
}
<head>
</head>

<div class="text-center">
    "#29PGJURQL"
    <form method="post">


        <div class="form-group">
            <label>Player Tag:<input class="form-control" asp-for="Tag" size="100%" placeholder="#~~~~~~" /></label>
            <button class="btn-primary float-left" asp-controller="Players" asp-action="PlayerData" type="submit" onclick="">Get Player Data</button>

            <a class="nav-link text-light" asp-area="" asp-controller="Players" asp-action="Index">Players</a>
        </div>

    </form>
</div>
